@import url('https://fonts.googleapis.com/css2?family=Asar&display=swap');

/* Estilos generales */
body {
    font-family: 'Asar', sans-serif;
    background-color: #BFAA8F;
    background-image: url("../imagenes/fondo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

h2{
    text-align: center;
    font-family: 'Asar', "Roboto Light", sans-serif;
    font-size: 50px;
    color: black;
    padding:0;

}

h3{
    text-align: center;
    font-family: "Asar", "Roboto Light", sans-serif;
    font-size: 30px;
    color: black;
}

/* Estilos para el header */
header .contenedor-img{
    display: flex;                       /* Usamos Flexbox para alinear los elementos */
    justify-content: space-around;      /* Alineamos el logo a la izquierda y "Mi Cuenta" a la derecha */
    align-items: center;                 /* Alineamos las imágenes verticalmente al centro */
    padding: 10px;                       /* Espaciado dentro del header */
    flex-wrap: wrap;                     /* Permitimos que los elementos se envuelvan en caso de que sea necesario */
}

header{
    width: 100%;
    margin: 0 auto;
}

/* Imagen de logo */
#logoico {
    display: flex;
    margin:0px auto;
}

/* Imagen "Mi Cuenta" */
header .micuentaico {
    width: 50px;                         /* Ajustamos el tamaño de la imagen de "Mi Cuenta" */
    height: 50px;
    border-radius: 100%;
    right: 10px;
    top: 10px;
}

#logoCulinarIA{
    display: flex;
    margin:0px auto;
}

/* Estilos para el menú de navegación */
nav {
    width: 60%;                         /* Aseguramos que el menú ocupe  el ancho disponible */
    text-align:center;                  /* Centrar los enlaces del menú */
    margin: 10px auto;                    /* Añadimos un pequeño margen en la parte superior para separarlo de las imágenes */
}

nav ul {
    background-color: #593520;
    list-style: none;
    padding: 10px 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    flex:1;
    display: block;
    margin: 0 15px;
}

nav a {
    font-family: "Roboto Light", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
}



main {
    flex: 1;
    width: 70%;         /* Igual que el nav */
    max-width: 1024px;  /* Limita el tamaño para pantallas grandes */
    margin: 20px auto;
    padding: 20px;
}


#busquedas{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    color:white;
    border-radius: 10px;
    grid-template-areas: "botones busqueda busqueda";
}

.buscador{
    grid-area:"busqueda";

    display:flex;
    flex-direction: column;
}

#buscar{
    width: 500px;
    height: 30px;
    border-radius: 10px;
}

.botones{
    grid-area:"botones";

    margin-right: 50px;
}

.botoncitos{

    grid-area: "botoncitos";
    width:200px;
    height:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #593520;
    color:white;
    border-radius: 30px;
    text-decoration: none;
    
}

#btn-iniciar{
    position:relative;
    top:8px;
    left:5px;
    background-color: #593520;
    background-size: contain;
    width:30px;
    height:30px;
    border-radius:90px;
    cursor:pointer;
}

@media (max-width: 900px) {
    header {
        width: 70%;
    }

    main {
        width: 70%;
    }

    #logoCulinarIA {
        width: 70%;
        height: 70%;
    }

    #logoico {
        width: 40%;
    }

    #buscar {
        width: 100%;
    }

    #btn-iniciar {
        position: relative;
        left: 10px;
    }
}

@media (max-width: 600px) {
    header {
        width: 70%;
    }

    main {
        width: 70%;
    }

    #logoCulinarIA {
        width: 70%;
        height: 70%;
    }

    #logoico {
        width: 40%;
    }

    #buscar {
        width: 100%;
    }

    #btn-iniciar {
        position: relative;
        left: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }
}

@media (max-width: 400px) {
    header {
        width: 70%;
    }

    main {
        width: 70%;
    }

    #logoCulinarIA {
        width: 70%;
        height: 70%;
    }

    #logoico {
        width: 40%;
    }

    #buscar {
        width: 100%;
    }

    #btn-iniciar {
        position: relative;
        left: 10px;
    }

    .botoncitos {
        width: 50%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }
}

/* Efecto hover */

.item:hover {
    transform: scale(1.05);
    z-index: 9;
}


/* Footer */
footer {
    font-family: Inter, sans-serif;
    text-align: right; /* Alinea el texto a la derecha */
    padding: 10px 20px; /* Ajusta el espacio interno (arriba/abajo 10px, derecha/izquierda 20px) */
    background: #333;
    color: white; /* Color del texto*/
    font-size: 12px; /* Reduce el tamaño de la fuente */
}
