#comidas{
    display:flex;
    flex-direction: row;
}

.contenedor-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    color:white;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    gap: 5px; 
    padding: 10px;
    width: 40%;
    height:auto;
    max-width: 1024px;
    margin: auto;
    
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;

    grid-template-areas:
        "leader lado"
        "abajo lado"
        "texto texto";
}

.grid-container2 {
    display: grid;
    gap: 5px;
    padding: 10px;
    width: 40%;
    height:auto;
    max-width: 1024px; 
    margin: auto;
    
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;

    grid-template-areas:
        "texto texto"
        "leader lado"
        "abajo lado";

}

.texto{
    grid-area:texto;
}

.item {
    position: relative; 
    display: inline-block;
}

.item span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block; 
    max-width:60%;
    z-index: 10;
}


.leader{
    width:100%;
    height:100%;
    grid-area: leader;
}

.leader img{
    width:270px;
    height: 270px; 
}

.lado {
    grid-area: lado;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.lado img {
    width:132px;
    height:132px;
}   

.abajo {
    grid-area: abajo;

    display: flex;
    gap: 5px;

    position:relative;
    bottom: 5px;
}

.abajo img {
    width:132px;
    height:132px;
}

/*  Responsividad */
@media (max-width: 900px) {

    .grid-container {
        width: 50%;
        grid-template-columns: 1fr;
        grid-template-areas:
            "texto"
            "leader"
            "lado"
            "abajo";
    }
    .grid-container2 {
        width: 50%;
        grid-template-columns: 1fr;
        grid-template-areas:
            "leader"
            "lado"
            "abajo"
            "texto";
    }

    .item{
        width:35%;
    }

    .abajo{
        flex-direction: column;
    }

    .leader img{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 600px) {

    .grid-container {
        width: 50%;
        grid-template-columns: 1fr;
        grid-template-areas:
            "texto"
            "leader"
            "lado"
            "abajo";
    }
    .grid-container2 {
        width: 50%;
        grid-template-columns: 1fr;
        grid-template-areas:
            "leader"
            "lado"
            "abajo"
            "texto";
    }

    .item{
        width:35%;
    }

    .abajo{
        flex-direction: column;
    }

    .leader img{
        width: 100px;
        height: 100px;
    }
}

/* Parte de jQuery */

#btn-filtro{
    cursor:pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.popup{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:12;
    width:35%;
    height:70%;
    border:5px solid black;
    border-radius:10px;
    background-image:url("../imagenes/fondo.svg");
    background-color:#BFAA8F;
}

.listaFiltros{
    display:flex;
    flex-direction: row-reverse;

    justify-self: center;
    margin:20px;
    cursor: pointer;
}

.listaFiltros span{
    width: 300px;
    background-color: #D9D3C1;
}

#cruz{
    width:10%;
    height:auto;

    position:absolute;
    top:0;
    right:0;
    cursor: pointer;
}
